* {
    box-sizing: border-box;

}

.container {
    width: 80%;
}


body {
    background-color: #fff;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}


aside {
    background-color: antiquewhite;
    box-shadow: 5px 5px grey;
    margin-left: 40%;
}

main {
    margin-left: 10%;
}

img {
    height: 250px;
    margin: 40px 90px;
    border-radius: 10%;
}


li a {
    color: #000;

}


.info-education {
    height: 150px;

}





nav {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
    justify-content: right;
}

nav a {
    color: black;
    margin: 20px;
    text-decoration: none;
    padding-top: 30px;
}

nav a :hover {
    color: fuchsia;
}


h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 6px;
}

h2 {
    letter-spacing: 3px;
}

h3 {
    padding-left: 30px;
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

p {
    padding-left: 30px;
    box-sizing: content-box;
    width: 90%;
    text-align: justify;
}


.university a {
    text-decoration: none;
}

.university a:hover {
    color: fuchsia;
}

.education {
    margin-top: 20px;
}

.info-education ul li {
    text-decoration: underline;
    padding-bottom: 15px;
}

.name a {
    text-decoration: none;
    color: black;
}

.name a:hover {
    color: fuchsia;
}


.profile {

    text-align: center;
    box-sizing: content-box;
    border-style: solid;
    border-radius: 30px;
    border-color: antiquewhite;
    background-color: antiquewhite;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    box-shadow: 5px 5px grey;
}

.info-experience {
    height: 100px;
}

.info-experience ul li {
    padding-bottom: 15px;
}

.about-me {
    margin-top: 30px;
}

.work-experience {
    margin-top: 60px;
    color: #000;
}

.info-experience li a {
    text-decoration: none;
    font-size: 20px;
}

.info-experience a:hover {
    color: fuchsia;

}