* {
    box-sizing: border-box;

}

.container {
    max-width: 1400px;
}


body {
    background-color: white;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}


aside {
    background-color: antiquewhite;
    box-shadow: 5px 5px grey;
}


img {
    width: 200px;
    height: 250px;
    margin: 30px 120px;
    border-radius: 10%;
}


li a {
    color: black;

}


.info-education {
    height: 150px;

}

.info-education ul li {
    padding-bottom: 15px;
}


nav {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
    justify-content: right;
}

nav a {
    color: black;
    margin: 20px;
    text-decoration: none;
    padding-top: 30px;
}

nav a :hover {
    color: fuchsia
}


h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 6px;
}

h2 {
    letter-spacing: 3px;
}

h3 {
    padding-left: 30px;
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

p {
    padding-left: 30px;
    box-sizing: content-box;
    width: 1000px;
    text-align: justify;
}


.university a {
    text-decoration: none;
}

.university a:hover {
    color: fuchsia;
}

#education {
    margin-top: 20px;
}

.name a {
    text-decoration: none;
    color: black;
}

.name a:hover {
    color: fuchsia;
}


#profile {

    text-align: center;
    box-sizing: content-box;
    border-style: solid;
    border-radius: 30px;
    border-color: antiquewhite;
    background-color: antiquewhite;
    width: 500px;
    padding: 30px;
    margin-left: 250px;
    margin-top: 40px;
    box-shadow: 5px 5px grey;
}

.info-experience {
    height: 100px;
}

.info-experience ul li {
    padding-bottom: 15px;
}

#about-me {
    margin-top: 45px;
}

#work-experience {
    margin-top: 45px;
}